/* ---------------- MENU ---------------- */
.menu{
	width: 100%;
	display: flex;
	padding: 0;
}
.menu li{
	list-style: none;
	text-align: center;
	padding: 10px;
}
.menu li:hover{
	filter: brightness(110%);
}
.menutoggle {
	width: 100%;
	display: none;
	cursor: pointer;
	padding: 10px;
	text-align: center;
}
label.menutoggle{ margin: 0 !important; }
#menutoggle {
	display: none;
}
#menutoggle:checked + .menu {
	display: flex;
}
@media only screen and (max-width: 768px) {
	.menu{ display: none; }
	.menutoggle{ display: block; }
	#menutoggle:checked + .menu { display: block; }
}

